* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.container h3 {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 800;
  color: #34495e;
}

form {
  margin-bottom: 50px;
}

form label {
  font-size: 20px;
  text-transform: capitalize;
  color: #34495e;
}

form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #dedede;
  text-align: right;
  font-size: 18px;
  width: 60px;
  margin: 0 15px;
}

form .btn {
  font-size: 18px;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  background: #2574a9;
  color: #fff;
  cursor: pointer;
}

.lorem-text {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.lorem-text .result {
  color: #34495e;
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.8rem;
}